.header_label .webix_el_box {
    font-weight: bold;
    color: white;
}

.navbar {
    background: #F4F5F9;
}

.list {
    background: transparent;

    & .webix_list_item a {
        color: inherit;
        text-decoration: none;
    }
}

.connection_status {
    text-align: center;
    border-bottom-width: 1px !important;

    & .webix_el_box {
        color: green;
        font-weight: normal;
    }
}

.user_menu_popup {
    a {
        color: inherit;
        text-decoration: none;
    }
}

.cell_hover {
    background: lightblue;
}

.list_remove_icon {
    color: #ccc;
    float: right;
    margin-top: 8px;

    &:hover {
        color: #888;
    }
    
    .webix_selected &:hover {
        color: #fff;
    }
}

.webix_column.dashboard_table_id_column > div.webix_cell {
    background-color: #F4F5F9;
    border-right-color: #DADEE0;
}